* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(0deg, #fbb420b3, #fbb420b3), url('fundocolorido.png');
    background-color: #dd9000;
    background-size: 11em 22em;
    font-family: 'Courier New', Courier, monospace;
}

.title{
    margin-left: 2%;
    height: 100px;
    width: 1000px;
    background-color: antiquewhite;
    align-content: center;
}

.title h1 {
    font-size: 4em;
    margin: 0 1em;
}

.components{
    display: grid;
    grid-template-columns: 850px 1fr;
    column-gap: 0;
}

.components div:is(.game-grid, .settings){
    box-shadow: 5px 5px 5px 5px #996300;
    background-color: #FFA500;
}

.game-grid {
    margin: 2% 15%;
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.game-block {
    height: 36px;
    width: 36px;
    border: 2px solid black;
}


.settings{
    margin: 4% 6.5%;
    height: 800px;
    width: 400px;
}


.settings div {
    /* font-size: 1.5em; */
    margin: 0.3em;
    font-weight: bold;
}

.settings div p {
    font-size: 1.2em;
}
.settings div h2 {
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

.settings .game-size a {
    color: black;
    border: 1px solid black;
    font-size: 1em;
    padding: 2px;
    border-radius: 15px;
    text-decoration: none;
}
    
.settings .game-size a:hover {
    background-color: black;
    color: white;
    text-decoration: underline;
}

.settings .game-mode a {
    font-size: 1em;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: 1.5px;
}

.settings .game-mode a:hover {
    color: white;
    background-color: black;
    text-decoration: underline;
}

.settings .history {
    margin-top: 5em;
}

.settings .history div {
    /* font-size: 1em; */
    font-weight: normal;
    border-bottom: 2px solid black;
}

.settings .history div h6 {
    font-size: 1.1em;
    font-style: italic;       
}

.settings .history div p {
    font-size: 0.8em;
    margin: 5px 0;
}